.container{
    height: 600px;
    width: 500px;
    border: 2px solid #b81414cc;
    display: flex;
    background-color: gray;
    flex-direction: column;
    justify-content:space-between;
}


.calculator-display-container{
    display: flex;
    height: 13%;
    width: 96%;
    border: 3px solid #b81414cc;
    margin-top: 5px;
    margin-left: 1.5%;
    background-color: rgb(216, 200, 200);
    font-size: 60px;
    font-weight: bold;
}

.calculator-display{
    height: 93%;
    width: 100%;
    background-color: #faebd7;
    font-size: 50px;
}

.button-container{
    height: 85%;
    width: 100%;
    margin-bottom: 1.5%;
    margin-left: 1.5%;
    display: flex;
    flex-wrap: wrap;
}

.button{
    height: 17%;
    margin-top: 5px;
    margin-left: 10px;
    width: 21%;
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#equal-sign{
    width: 68%;
}

button{
    width: 100%;
    height: 100%;
    font-size: 50px;
}

.clear-button{
    background-color: #ffa600;
}
